@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using Gaucho.Dashboard
@using System.Collections.Generic
@using Gaucho.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage("Dashboard");
}

@*<h1>Dashboard</h1>*@
<div>
    @Html.RenderPartial(new EventBusPartial())
</div>