$header_height: 60px;
$content_width: 60vw;
$header_nav_height: 50px;
$general_padding: 20px;

$brand-color-1: #FC8200; //#333; //#FC8200;
$sidebar-color-1: #e6e6e6;
//$sidebar-color-2: #d9dcdf;

$background-color-main: #232832;// #2D3F46; // #494949;// #222228; // #aaa; //#222228;

$main-color-1: #e6e6e6;

$icon-angle-down-svg: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="32" height="32" stroke-width="20" fill="lightgray"><path style=" " d="M 4.21875 10.78125 L 2.78125 12.21875 L 15.28125 24.71875 L 16 25.40625 L 16.71875 24.71875 L 29.21875 12.21875 L 27.78125 10.78125 L 16 22.5625 Z "/></svg>';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Source Sans Pro','Open Sans',sans-serif;
    background-color: $background-color-main;
    color: #ffffff;
}

.header, .main-wrapper {
    display: grid;
    grid-template-columns: auto $content_width auto;
}

.header {
    height: $header_height;
    padding: 0;

    .container {
        /*background-color: red;*/

        h1{
            margin-top:12px;
        }
    }
}

.main-wrapper {
    width: 100vw;
    height: calc(100vh - #{$header_height});
    padding-top: 40px;
    /*background: brown;*/
    .container {
        /*background-color: orange;*/
        .pipeline-item {
            padding-top: 5px;
            padding-bottom: 5px;

            .pipeline-item-container {
                display: grid;
                grid-template-rows: 1fr 1fr;
                padding: 10px 40px;
                background-color: #323741;
                border-radius: 2px;

                .pipeline-item-header {
                    padding: 15px 0;
                    border-bottom: 0.5px solid #ccc;
                }

                .pipeline-item-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    padding-top: 10px;
                    font-size: small;

                    .label {
                        text-transform: uppercase;
                        color: #ccc;
                        padding-bottom: 4px;
                    }
                }

                .pipeline-item-log-container {
                    /*border-top: 0.5px solid #ccc;*/
                    padding-top: 10px;
                    /*margin-top: 10px;*/

                    .label {
                        text-transform: uppercase;
                        color: #ccc;
                        padding-bottom: 4px;
						font-size: 12px;
                    }

                    .pipeline-item-log-list {
                        background-color: $background-color-main;
                        /*padding: 10px;*/

                        .pipeline-item-log-item {
                            display: grid;
                            grid-template-columns: auto auto auto 1fr;
                            font-size: 12px;

                            .pipeline-item-log-element {
                                padding-left: 3px;
                                padding-right: 3px;
                            }

                            .pipeline-log-debug {
                                color: gray;
                            }

                            .pipeline-log-info {
                                color: green;
                            }

                            .pipeline-log-warning {
                                color: orange;
                            }

                            .pipeline-log-error {
                                color: red;
                            }

                            .pipeline-log-critical {
                                color: purple;
                            }
                        }
                    }
                }
            }
        }
    }
}





.toggler-section {
	display: flex;
	align-items: baseline;
	padding-bottom: 5px;

	+ .toggle-wrapper {
		max-height: 0;
		transform: scaleY(0);
		transform-origin: top;
		transition: all 0.15s ease-in-out;
	}

	&.is-open {
		.toggler-button {
			transform: rotate(90deg);
		}

		+ .toggle-wrapper {
			max-height: 100%;
			transform: scaleY(1);
		}

		+ .pipeline-item-log-list {
			padding: 10px;
		}
	}
}

.toggler-button {
	z-index: 2;
	position: relative;
	display: block;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-right: 15px;

	&::before {
		content: '';
		background: transparent;
		right: 0rem;
		top: 0rem;
		bottom: 0rem;
		left: 0rem;
	}

	&::after {
		content: '';
		width: .9rem;
		height: .9rem;
		display: block;
		background-image: url('data:image/svg+xml,' + $icon-angle-down-svg);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
		transform: rotate(-90deg);
	}
}
