Id: pipeline2

InputHandler
	Name:GenericLogMessage

OutputHandler
	Name: ConsoleOutput
	Filters
		Message -> msg

OutputHandler
	Name: LogOutput
	Filters
		Message -> msg
		Level -> lvl

